@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Multiround;
  src: url(/MultiroundPro.otf);
}

body {
  background-color: #221621;
  font-family: Multiround;
  user-select: none;
}

.cl-internal-1k7jtru, .cl-internal-15hkgn2 {
  background: none;
}

.cl-internal-fcx671, .cl-internal-1j1lborб, .cl-internal-1fpq5at, .cl-internal-ej8kgm {
  display: none;
}
.cl-internal-13hl4in::before {
  content: "";
  display: inline-block;
  width: 100px;
  height: 50px;
  background-image: url("https://id.qual.su/_next/static/media/QualID.6000d61a.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  filter: drop-shadow(2px 2px 0.1rem rgba(0, 0, 0, 0.25));
}

.cl-userPreviewSecondaryIdentifier {
  font-size: 12px;
  color: rgb(199, 199, 199);
}

/* Changes for dark mode */
.bn-container[data-theming-css-variables-demo][data-color-scheme="dark"] {
  --bn-colors-editor-background: #0a0a0a;
  --bn-colors-menu-background: #0a0a0a;
  --bn-colors-disabled-background: #0a0a0a;
}

.cl-organizationSwitcherPopoverCard {
  z-index: 999999;
}

.banner {
  filter: drop-shadow(0px 0px 17px #c078ff20);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
